* {
  // padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  background: url(./img/background.png);
}

// .main {
//   display: flex;
//   align-items: center;
// }

.card {
  background: #ffffff;
  margin: 50px auto 0;
  width: 80%;
  max-width: 380px;
  border-radius: 25px;
  box-shadow: 3px 20px 16px rgba(0, 0, 0, 0.4);

  &-image {
    background: url(./img/acousticbreeze.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  &-content {
    padding: 2rem 1.3rem;
  }

  &-title {
    font-size: 1.5rem;
  }

  .progress-bar {
    width: 100%;
    height: 6px;
    -webkit-appearance: none;
    background: #6e0fa5;
  }

  .volume {
    &-input {
      width: 80%;
      margin: 60px 0 60px;
      overflow: hidden;
      -webkit-appearance: none;
      background-color: #fff;
      border-radius: 50px;
      height: 20px;
      cursor: pointer;
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;

    align-items: center;

    .control {
      cursor: pointer;
    }

    .control:active {
      transform: scale(0.9);
    }
  }
}

.song-list {
  //   display: inline-block;
  padding: 1.2rem;
  font-size: 1.3rem;
  text-align: left;
  width: 80%;
  columns: 2;
  //   max-width: 450px;
  border-radius: 25px;
  //   border: 1px soild;
  border: 1px solid grey;
  color: darkblue;
  margin: 25px auto 0;
  //   background: #ffffff;
  //   border-radius: 10px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  //   box-shadow: 3px 20px 16px rgba(0, 0, 0, 0.4);

  li {
    padding: 0.3rem;
    list-style-position: inside;
  }

  .current {
    background-color: rgba(12, 84, 151, 0.7);
    color: #fff;
  }
}

.footer {
  height: 50px;
  background-color: rgba(46, 46, 41, 0.952);
  color: #eee;
  text-align: center;
  font-size: 1.4rem;
  position: absolute;
  bottom: 0;
  width: 100%;

  .credits {
    padding-top: 11px;
  }

  a {
    text-decoration: none;
    color: rgb(219, 129, 26);
  }
}
