* {
	// padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;
}



.card {
	background: #ffffff;
	margin: 50px auto 0;
	width: 80%;
	max-width: 380px;
	border-radius: 25px;
	box-shadow: 3px 20px 16px rgba(0, 0, 0, 0.4);

	&-image {
		background: url(./img/acousticbreeze.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 150px;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
	}

	&-content {
		padding: 2rem 1.3rem;
	}

	&-title {
		font-size: 1.5rem;
	}

	.volume {

		&-input {
			width: 80%;
			margin: 60px 0 60px;
		}
	}

	.controls {
		display: flex;
		justify-content: space-between;

		align-items: center;

		.control {
			cursor: pointer;
		}

		.control:active {
			transform: scale(0.9);
		}
	}
}



.song-list {
	padding: 1.2rem;
	font-size: 1.3rem;
	text-align: left;
	width: 80%;
	max-width: 380px;
	margin: 80px auto 0;
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 3px 20px 16px rgba(0, 0, 0, 0.4);

	li {
		padding: .3rem;
		list-style-position: inside;
	}

	.current {
		background-color: rgba(12, 84, 151, 0.7);
		color: #fff;
	}
}